body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the thumb */
.progressbar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0; /* Remove thumb */
  height: 0; /* Remove thumb */
}

.progressbar input[type="range"]::-moz-range-thumb {
  width: 0; /* Remove thumb */
  height: 0; /* Remove thumb */
}

/* Style the track */
.progressbar input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 20px; /* Height of the progress bar */
  background: green; /* Background color */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
}

.progressbar input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
}

.progressbar input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
}

.progressbar input[type="range"]::-ms-track {
  width: 100%;
  height: 100%;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.custom-radio {
  appearance: none; /* Remove default styling */
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid #007bff; /* Default border color */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.custom-radio:checked {
  background-color: #007bff; /* Checked color */
  border-color: #007bff; /* Border color when checked */
}

.custom-radio:checked::before {
  content: "";
  display: block;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: white; /* Inner circle color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.regpage::-webkit-scrollbar {
  display: none;
}

.regpage {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-slide {
  height: 20px;
}
